<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>New Tab</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="../css/style.css"></head>


<body>
    <div class='main'>
        <div class='main-center'>
            <div class='s-right'>
                <iframe  frameborder="0" id ="scaled-frame" style = "height: 224.0px;" "
                src="https://ru.lichess.org/tv/frame?bg=light&theme=metal&embed=" + document.domain + "
                ></iframe></div>
            <div class='shr'></div>
            <div class='s-left'>


            <div class="user">
                <div class="inf" id = "inf">      
                </div>
            </div>
        </div>
    </div>
    <script src="../js/jquery-3.1.1.min.js"></script>
    <script src="../js/index.js"></script>
</body>

</html>
