<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>New Tab</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
</head>

<body>
    <div class='main'>
        <div class='main-center-opt'>
            <p style="display: block;">Enter your Lichess Nickname</p>
            <input type="text" name="inputname" id="inputname" style="display: inline-block;">
            <button type="submit" id="submit" style="display: inline-block;">Go</button>
        </div>
    </div>
    <script src="../js/jquery-3.1.1.min.js"></script>
    <script src="../js/index.js"></script>
</body>

</html>
