@charset "UTF-8";
@font-face {
    font-family: "lichess";
    src: url("fonts/lichess.eot");
    src: url("fonts/lichess.eot?#iefix") format("embedded-opentype"), url("fonts/lichess.woff") format("woff"), url("fonts/lichess.ttf") format("truetype"), url("fonts/lichess.svg#lichess") format("svg");
    font-weight: normal;
    font-style: normal;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #eee;
}

iframe {
    margin-top: 5%;
    height: 300px;
    width: 225px;
    float: left;

    zoom: 1.00;
    -moz-transform: scale(1.5);
    -moz-transform-origin: 0 0;
    -o-transform: scale(1.5);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(1.5);
    -webkit-transform-origin: 0 0;
}

table {
    margin-top: 5%;
    margin-right: 12%;
}

.outer {
    width: 100%;
    height: 100%;
    position: relative;
}

.centered {
    width: 70%;
    height: 80%;
    position: absolute;
    top: 10%;
    right: 15%;
    display: table;
}

.inf {
    float: right;
}

#loadingDiv {
    float: right;
}

.number {
    margin-right: 5px;
}

tr {  list-style-type: none; font-size: 1.3em; }
tr::before {
    font-family: "lichess", monospace !important;
    content: attr(data-icon);
    margin-right: 5px;
}



/*
    The options page styles
 */
 /*
.main {
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: none;
    font: normal 16px/1 "Times New Roman", Times, serif;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    background: #eee;
}

.main-center-opt {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 80%;
    height: 100%;
    position: relative;
    top: 10%;
    right: 0%;
    bottom: 10%;
    left: 10%;
    overflow: hidden;
    border: none;
    font: normal 16px/1 "Times New Roman", Times, serif;
    color: #000;
    text-align: center;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    background: #eee;
}

@media screen and (min-width: 940px)  {
    #scaled-frame {
        margin-top: 10%;
        zoom: 1.00;
        -moz-transform: scale(2.05);
        -moz-transform-origin: 0 0;
        -o-transform: scale(2.05);
        -o-transform-origin: 0 0;
        -webkit-transform: scale(2.05);
        -webkit-transform-origin: 0 0;
    }
}

#rating-name {
    font: normal 16px/1 Impact, Charcoal, sans-serif;
    color: rgba(0, 0, 0, 1);
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

#rating {
    font: normal 16px/1 Impact, Charcoal, sans-serif;
    color: rgba(0, 0, 0, 1);
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

p {
    margin: auto;
    display: block;
    font: normal 16px/1 Impact, Charcoal, sans-serif;
    text-indent: 5px;
    padding-bottom: 10px;
    padding-top: 10px;
}

#rating-antichess,
#rating-kingOfTheHill,
#rating-threeCheck,
#rating-correspondence,
#rating-atomic,
#rating-racingKings,
#rating-blitz,
#rating-bullet,
#rating-horde,
#rating-puzzle,
#rating-classical,
#rating-crazyhouse,
#rating-blitz,
#rating-chess960 {
    float: right;
    padding-right: 15px;
}

.inf {
    display: block;
    padding-bottom: 5px;
    float: right;
}

[data-icon]::before {
    font-size: 1.9em;
    vertical-align: middle;
    font-family: "lichess"!important;
    font-style: normal!important;
    font-weight: normal!important;
    text-transform: none!important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: attr(data-icon);
    display: inline-block;
}

#number {
    display: inline-block;
    vertical-align: middle;
}
*/